.box {
    width: 520px;
    height: 145px;
    border: 1px solid black;
    position: relative; 
    padding-top: 20px; 
    display:flex;
    gap: 2rem;
}

.inserimentoNumeri{
    margin-left: 18px;
}

.title {
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: white;
    padding: 0 5px;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

.boxOperandi {
    width: 110px;
    height: 85px;
    border: 1px solid black;
    display: flex;
}

.titleOperandi {
    position: absolute;
    top:6px;
    left:320px;
    background-color: white;
    padding: 0 5px;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

.boxErrore {
    width: 78px;
    height: 80px;
    border: 1px solid black;
    border-right: 1px solid black;
    display: flex;
}

.titleErrore {
    position: absolute;
    top:6px;
    left:510px;
    background-color: white;
    padding: 0 5px;
    font-family: Arial, sans-serif;
}

.inputErrore {
    border: none;
    width: 74px;
    height:75px;
}